<div id="paytrail_logos">
        <%= image_tag "https://img.paytrail.com/?id=23904&type=horizontal&cols=12&text=0&auth=245149ada0c533b4" %>
</div>

<div><%= link_to(Spree.t("paytrail.pay_now"), paytrail_payment_url(:payment_method_id => payment_method.id), :method => :post, :id => "paytrail_button", :class => 'btn btn-lg btn-success') %></div>
<!-- 
Embedding can't work here, because we have no token for the payment yet.
<script type="text/javascript" src="//payment.paytrail.com/js/payment-widget-v1.0.min.js"></script>
<script type="text/javascript">
SV.widget.initWithToken('payment', <%= payment_method.id %>, {charset: 'ISO-8859-1'});
</script> -->